html {
    position:relative;
}

body {
    font-family: 'Quicksand', sans-serif;
    z-index:-2;
}

#header {
    position:fixed;
    top:0;
    left:0;
    background-color:white;
    width:100%;
    #navbarNav {
        ul {
            #logo {
                font-family: 'Quicksand', sans-serif;
                margin-left:60px;
                margin-right:60px;
            }
            li {
                font-size:1em;
                margin-right:2px;
                margin-left:2px;
                :first-child {
                    margin-left:0px;
                }
                :last-child {
                    margin-left:0px;
                }
                a {
                    color:black;
                    &:hover {
                        color:#F80000;
                    }
                }
            }
        }
    }
}